<h1>Name: <%=@shelter_name_and_city.name%> </h1>
<h3>City: <%=@shelter_name_and_city.city%> </h3>

<div class = "statistics" >
<h2>Statistics</h2>
  <P><%= "#{@shelter.name}: #{@shelter.average_pet_age}"%></p>
</div>